@model List<Booking>
@{
    ViewData["Title"] = "All Bookings";
}


<h2>All Bookings</h2>

<p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary me-2">Return to GBC Travel</a>
</p>

@if (Model.Any()) {
    <table class="table">
        <thread>
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Starting Date</td>
                <td></td>
            </tr>
        </thread>

        @foreach (var booking in Model) {
            <tbody>
                <tr>
                    <td>@booking.BookingId</td>
                    <td>
                        <a asp-controller="Bookings" asp-action="Details" asp-route-id="@booking.BookingId">View Booking</a>
                    </td>
                    <td>@booking.StartDate</td>
                    <td><a asp-controller="Bookings" asp-action="Delete" asp-route-id="@booking.BookingId" class="btn btn-primary">Delete</a></td>
                </tr>
            </tbody>
        }

    </table>
}
else {
    <p>No project tasks found</p>
}
