@{
    ViewData["Title"] = "GBC Travel Agency";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Start your vacation with us. Best deals on the web!</p>
    <img src="/img/hero.jpg" height="512" width="1024" />
</div>