@{
    ViewData["Title"] = "GBC Travel Agency";
}
<form asp-controller="Hotels" asp-action="Search" method="get" class="row g-3">
    <!-- Indicates that the form data will be submitted to the Create action of the current controller-->
    <div class="col-auto">
        <select class="form-control btn btn-secondary dropdown-toggle" name="from">
            <option value="Toronto">Toronto</option>
        </select>
    </div>
    <div class="col-auto">
        <select class="form-control btn btn-secondary dropdown-toggle" name="destination">
            <option value="Munich">Munich</option>
            <option value="Tokyo">Tokyo</option>
            <option value="Varadero">Varadero</option>
        </select>
    </div>
    <div class="col-auto">
        <input type="date" name="departureDate" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" required />
    </div>
    <div class="col-auto">
        <input type="date" name="returnDate" class="form-control" value="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" required />
    </div>
    <div class="col-auto">
        <input type="submit" value="Search" class="btn btn-primary">
    </div>
</form>
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Start your vacation with us. Best deals on the web!</p>
    <img src="/img/hero.jpg" height="512" width="1024" />
</div>